html{
    margin:0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.logolateral{
  background-image:url(../imagens/bananalogo2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  
}

.equal-height-columns{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.equal-column-content{
	height:1280px;
}

.partelogo{
	background-color:#CD6532;
}

.ladopesquisa{
	box-shadow: -1px -1px 2px 0px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.buscar-txt{
	width:330px;
}

.tm-pesq{
	height:540px;
}
