@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
box-sizing: border-box;
}

body{
	margin:0;
}

#header{
    height: 100%;
    width: 100%; 
    position: absolute;  
    background-color:#e3691e;
    background-size:cover;
    background-position:center;
}
#header .logotipo{
	margin: 50px 0 0;	
    height:93px;
    margin-bottom:150px;
}


.container{    
	width: 1070px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.img1{
    float:left;
    width:25%;
    margin-top:2%;
    margin-left:15%;
}

.img-logo{
	width:70px;
	height:70px;
}

.img2{
	float:right;
    width:25%;
    margin-top:4%;
}

.img-suamae{	
	max-width: 75%;
    height: auto;
}

.container h1{
    color: white;
    font-size: 45px;
    font-weight: 300;
    line-height: 120%;
    margin: 50px 0 90px;
    text-align:center;
    font-family: "Raleway", sans-serif;
}

.pequeno{
	opacity:0.8;
	height: 200px;
	padding-top:60px;
	margin-left:100px;
	margin-right:100px;
	background-color: none;

}

.linha{
	
 
    width:95%;
    height:80px;
    margin: 0 auto;
    position:relative;
   

}

.botao1{
	margin: 0 auto;
	width:250px;
	height:100%;
    background-color:black;
	border: 1px solid #338033;
	overflow: hidden;
	transition: .6s;


}

.botao1 a{  
    padding:30px;
    color: white;
    display: block;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    width: 100%;   
    font-family:arial;
    font-weight:700;
    text-transform:uppercase;
    text-align:center;

}


a.tururu {
    background: none repeat scroll 0 0 black;
    border-radius: 5px 5px 0 0;
    bottom: 0;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    left: 50%;
    line-height: 120%;
    margin: 0 0 0 -115px;
    padding: 10px 15px;
    position: absolute;
    width: 230px;
    z-index: 100;
    text-decoration: none;
}

.frase{
	height:48px;
	width:110px;
	float:right;
	text-align:center;
}

#site{
	font-size:25px;
}

.imagem{
	width:10px;
    height:10px;
    padding-top:15px;
    padding-left:20px;
}

#wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 200;
}

.afastar{
	height:50px;
}

.nav-alto{
	height: 90px;
}

.nav{
	width: 100%;
	background: none repeat scroll 0 0 black;
    padding: 10px 0;
    height: 90px;
}

.imgkj{
	width:100px;
	float:left;
	
}

.kj{
	width:70px;
	height:70px;
}

.lista{
display:inline-block;
width: 50%;
height:40px;
float:left;
position:relative;
border-width:2px;
text-align:center;
color:white;
margin-left:15%;
text-decoration: none;
margin-right:10%;
}


.menu li{
	float:left;
	list-style: none;
	margin: 5px 0 0;

}

.menu li u {

	display:inline-block;

}

.menu ul li{
	margin: 0 10px;
	font-size:25px;

}

.menu ul li a{
	 text-decoration: none;
	 font-size:20px;
	 color:white;
	 padding:10px;
	}

.logincadastro{
	background-color:white;
	float:right;
	width:100px;
	height:70px;
}

.logincadastro a{
	text-decoration:none;
}

.conteudocinza{
	padding: 60px 0;
	width:100%;
	height:640px;	
}
.conteudocinza1
{
    padding: 60px 0;
	width:100%;
	height:640px;	
}

.conteudocinza2{
	padding: 60px 0;
	width:100%;
	height:640px;	
}

.conteudocinza4{
	padding: 60px 0;
	width:100%;
	height:840px;	
}

.af1{
	width:45%;
	height: 520px;
	background-color:white;
	float:left;
}

.af2{
	width:45%;
	height: 520px;
	background-color:white;
	float:right;
}

.afastar2{
	height:150px;
	background-color:black;
	width:100%;
}

.tudo{
	width:100%
	height:150px;
	background-color:black;
	padding-left:5%;
	padding-right:5%;
}

.receitaspequenas{
	width:600px;
	height:100%;
	margin-left:35%;
	padding-top:30px;
	color:white;
	font-size:30px;
	text-align:center;
}

.container2{    
	height:150px;
	width: 100%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pequenos{
	float:left;
	width:200px;
	height:150px;
	background-image: url("receita.jpg");
	background-size:cover;
    background-position:center;
}
.pequenos2{
	background-image: url("receita1.jpg");
	float:left;
	width:200px;
	height:150px;
	background-size:cover;
    background-position:center;
}
.pequenos4{
	float:left;
	width:200px;
	height:150px;
	background-image: url("receita2.jpg");
	background-size:cover;
    background-position:center;
}
.pequenos6{
	float:left;
	width:200px;
	height:150px;
	background-image: url("receita3.jpg");	
	background-size:cover;
    background-position:center;
}
.pequenos9{
float:left;
	width:200px;
	height:150px;
	background-image: url("receita4.jpg");	
	background-size:cover;
    background-position:center;
}

.pequenos11{
    float:left;
	width:200px;
	height:150px;
	background-image: url("receita4.jpg");	
	background-size:cover;
    background-position:center;
}

.pequenos13{
float:left;
	width:200px;
	height:150px;
	background-image: url("receita4.jpg");	
	background-size:cover;
    background-position:center;
}

.pequenos15{
float:left;
	width:200px;
	height:150px;
	background-image: url("receita4.jpg");	
	background-size:cover;
    background-position:center;
}

.pequenos5{
	float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

}
.pequenos1{
	float:left;
	width:200px;
	height:150px;
    background-color:black;
    color:white;
	
}
.pequenos3{
    float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

	
}
.pequenos5{
    float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

	
}
.pequenos7{
    float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;
}

.pequenos8{
	float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

}

.pequenos10{
	float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

}

.pequenos12{
	float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

}

.pequenos14{
	float:left;
	width:200px;
	height:150px;
	background-color:black;
	color:white;

}

.titulopequeno{
	margin: 0 auto;
    width: 100%;
    height: 20px;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    color:white;
}

.textopequeno{
	width:100%;
	height:75px;
	margin-top:10px;
	text-align:left;
	padding-right:15px;
	padding-left:15px;
}

.leiamais{
	height:20px;
	width:100%;
	margin-top:0;
	text-align:center;
	
}

.espaco{
	height:100px;
	width:100%;
	background-color:black;

}

.Sobrenos{
	width:100%;
	height:40px;
	color:black;
	text-align:center;
	font-size:36px;
}

.Equipe{
	width:100%;
	height:705px;
	margin-left:20%;
	margin-right:20%;
}

.Cadaum{
	width:200px;
	height:300px;
	background-color:white;
	float:center;
	display:inline-block;
	margin-right:30px;
	margin-left:30px;
	margin-top:130px;
}

.imgequipe1{
	width:100%;
	height:170px;
	background-size:cover;
	background-image:url(uilson.jpg);
	border-radius:100px;
}

.imgequipe2{
	width:100%;
	height:170px;
	background-size:cover;
	background-image:url(thaynan.jpg);
	border-radius:100px;
}

.imgequipe3{
	width:100%;
	height:170px;
	background-size:cover;
	background-image:url(felipe.jpg);
	border-radius:100px;
}

.imgequipe4{
	width:100%;
	height:170px;
	background-size:cover;
	background-image:url(uilson.jpg);
	border-radius:100px;
}

.redessociais1{
	width:100%;
	height:130px;
	background-color:yellow;
	list-style:none;
}

.rodape{
	background-color:black;
	width:100%;
	height:74px;	
}


.pe{

	margin:0 auto;
	padding: 5px;
    margin: 0 auto;
    width: 250px;
    height: 50px;
}

.aa{
	width:70px;
	height:70px;
}

.prodape{
	color:white;
}


/* animations */

.botao1:hover{
	background-color:#063c94;
}

a.tururu:hover{
	background-color:#063c94;
}

.menu ul li a:hover{
   color:blue;
}

.fixed{
	position:fixed;
	width:100%;
	top:0;
	z-index:20;
}


.conteudocinza{
	opacity:0;
}

.conteudocinza.animated{
    opacity:1;
}

.conteudocinza1{
	opacity:0;
}

.conteudocinza1.animated{
    opacity:1;
}

.conteudocinza2{
	opacity:0;
}

.conteudocinza2.animated{
    opacity:1;
}

.af11{
	width: 100%;
    height: 120px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.ki{
	color:black;
	margin:0 auto;
	font-size:40px;
	text-align:center;
}

.af22{
	width:100%;
	height:220px;
}

.kii{
	font-size:26px;
	text-align:left;
}

