body {
		margin: 0;
		padding: 0;
	}

.partelogo{
  background-image:url(../imagens/bananalogo2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.equal-height-columns{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.equal-column-content{
	
}

.ladoalterar{
	display:flex;
	flex-direction:column;
	justify-content:center;
}