/* Aqui começa o css da página do usuário*/
	body{
		margin: 0;
        padding: 0;
		background-color: #FFD700;
	}
/* Ínicio do menu */	
	nav{
		top: 50%;
		width: 100%;
		background-color: #DCDCDC;
		font-family: 'Arial', 'Verdana', sans-serif;
		height: 8%;
		position: absolute;
		left: 0%;
	}
	
	nav ul{
		width: 100%;
		height: 100%;
		list-style: none;
		position: relative;
		left: 0%;
		top: -33%;
	}

	.menu ul {
		list-style: none;
		position:absolute;
	}
	.menu li {
			top: 0%;
            position: relative;
			height: 100%;
			text-align: center;
			left: -2.95%;
        }

	.menu a {
		display:block;
		text-decoration: none;
		text-align: center;
		color: black;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	.menu ul ul {	
		visibility: hidden;
	}
	
	.menu ul li {
            float: left;
			width: 14.285%;
        }

	.menu ul li:hover a{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: black;
		color: orange;
	}

	.menu a{
		font-size: 20px;
		color: black;
		float: center;
		font-family: 'Arial', 'Verdana', sans-serif;
	}
/* Fim do menu*/

	
/* Ínicio da header*/
	
	header{
		height: 50%;
		width: 100%;
		background-color: #CC6532;
		position: absolute;
		margin: 0;
        padding: 0;
	}
	
	#img_banana{
		height: 100%;
		width: 30%;
		position: absolute;
		left: 35%;
		border: black;
	}
	
	#img_banana img{
		width: 100%;
		height: 100%;
		float: center;
		position: absolute;
		border: black;
	}
	
/* Fim da header*/	
	
/* Ínicio da Topdiv*/	
	.logado{
		width: 15%;
		height: 50%;
		position: absolute;
		right: 3%;
		top: 25%;
		border: 1px solid #C0C0C0;
	}
	.logado p{
		font: 'Times New Roman' 'Verdana', sans-serif;
		font-size: 20px;
		color: #FFD700;
	}
/* Fim da Topdiv*/	

/* Ínicio do corpo*/	

	#div1 {
		top: 65%;
		height: 130%;
		width: 47%;
		background-color: #DCDCDC;
		position: absolute;
		left: 2%;
		border-radius: 15px;
	}
	
	#div2 {
		top: 65%;
		height: 130%;
		width: 47%;
		background-color: #DCDCDC;
		position: absolute;
		right: 2%;
		border-radius: 15px;
	}
	
	#ft1{
		height: 40%;
		max-height: 40%;
		width: 90%;
		max-width: 90%;
		margin: 5%;
	}
	
	.bof{
		color: black;
		font-size: 50px;
		font-family: 'impact', 'Verdana', sans-serif;
		text-align: center;
		max-width: 100%; 
		max-height: 100%;
	}

/* Fim do corpo*/


	

