

*{
box-sizing: border-box;
}

body{
	margin:0;
}

.nav-alto{
	height: 90px;
}

.nav{
	width: 100%;
	background: none repeat scroll 0 0 black;
    padding: 10px 0;
    height: 90px;
}

.lista{
display:inline-block;
width: 50%;
height:40px;
float:left;
position:relative;
border-width:2px;
text-align:center;
color:white;
margin-left:15%;
text-decoration: none;
margin-right:10%;
}


.menu li{
	float:left;
	list-style: none;
	margin: 5px 0 0;

}

.menu li u {

	display:inline-block;

}

.menu ul li{
	margin: 0 10px;
	font-size:25px;

}

.menu ul li a{
	 text-decoration: none;
	 font-size:20px;
	 color:white;
	 padding:10px;
	}

.logincadastro{
	background-color:white;
	float:right;
	width:100px;
	height:70px;
}

.logincadastro a{
	text-decoration:none;
}




/* abaixo do menu */

.conteudo{
	width:100%;
	height:250px;
	background-color:white;
}

.titulo{
	width:100%;
	height:50px;
	background-color:gray;
}

.textoh1{
	width:500px;
	height:50px;
	color:white;
	float:left;
	padding-left:20px;
	font-size:20px;
}

.conteudo{
	width:100%;
	height:238px;
	background-color:orange;
}

.owl-carousel{
    background-color:none;
    display:flex;
}


.item{
	height:150px;
	width:250px;
	margin:10px;
	margin-top:20px;
	margin-bottom:0px;
	background-color:orange;

}

.img{
	width:100%;
	height:100%;
	background-size:cover;
    background-position:center;
    background-color:red;
}

.efeito{
	position:absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: orange;
    left:0;
    top:0;
    width:94%;
    height:88%;
    margin-top:20px;
    margin-left:10px;
}

.texto{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.texto a{
	text-decoration:none;
	color:white;
}

.item:hover .efeito{
	opacity:0.9;
	
}

.rodape{
	width:100%;
	height:50px;
	background-color:black;
}

.conteudorodape{
	width:500px;
	height:25px;
	color:white;
	margin-left:45%;
	padding-top:20px;